
/* COLOR-Pallet
button color=#AF6541 
side-bar=#F6F4F2
box-shadow=#0C7060
header-background=linear-gradient(to left,#0C7060,#427618);
*/
*{
    font-family:"Poppins", sans-serif;
}
::-webkit-scrollbar{
    width:0
}
body {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    height: 100vh;
}

header {
    min-width: 100%;
    height: 60px;
    background: linear-gradient(to left,#0C7060,#427618);
    position: FIXED;
    top: 0;
    z-index: 10; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
#side-bar-togle{
    display:none;
    background-color: transparent;
    color:#eee;
    outline: none;
    border: none;
    font-size: 20pt;
    cursor: pointer;
}

aside {
    max-height: calc(90vh - 60px);
    background-color: #F6F4F2;
    position: sticky;
    top: 90px; 
    left:10px;
    z-index: 5; 
    box-shadow: 0px 0px 1px #0C7060;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

main {
    padding: 20px 10px;
    overflow-y: auto; 
    flex-grow: 1; 
    font-size: 1.5em;
    max-height: calc(100vh - 100px);
}

#content-section {
    display: grid;
    grid-template-columns: 2fr 7fr;
    height: 100%; /* Ensure grid fills the main section */
    margin-top:60px;
    position:relative;
    top:0;
}
.side-bar-card{
    width:90%;
    border:none;
    border-bottom:solid 1px #0C7060;
    height: 40px;
    margin: 5px auto;
    top:1px;
    transition: 0.3s;
    font-size: 1.5em;
    text-align: start;
    padding:5px 15px;
    font-family: "Poppins",serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    cursor:pointer;
    outline: none;
    background-color: #eee;
}
.side-bar-card:hover .material-icons{
    color:#F6F4F2;
    border-radius:6px; 
}
.side-bar-card:hover{
    background: linear-gradient(to left,#0C7060,#427618);
    color:#F6F4F2;
    border-radius:6px; 
}

.main-card{
    display: none;
}
.main-card.show{
    display: block;
    min-height: 100vh;
    background-color: #F6F4F2;
    border-radius: 10px;
    box-shadow: 0px 0px 1px #0C7060;
    padding: 10px;
}
  .material-icons {
    font-size: 30px;
    vertical-align: middle;
    color:#0C7060;
} 
.menu-icon{
    color:#eee;
}
.active-effect{
    background: linear-gradient(to left,#0C7060,#427618);
    color:#F6F4F2;
    border-radius: 6px;
}
.active-effect .material-icons{
    color:#F6F4F2;
    border-radius: 6px;
}

#bakery-name{
    font-size: 2em;
    color: #fff;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 10px 10px;
    background: transparent;
    border-radius: 10px;
}
button#logout{
    background: linear-gradient(to left,#0C7060,#427618);
    color:#F6F4F2;
    padding: 12px;
    border-radius: 6px;
    height:40px;
    font-size: 1.2em;
    font-weight: 500;
    cursor:pointer;
    outline: none;
    border: none;
    margin:2px 20px;
    transition:0.5s;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 1.5px #F6F4F2;
    align-items: center;
    margin-left:auto;
}
button#logout:hover{
    background: linear-gradient(to left,#233f0c,#074137);
    color:#eee;
}
button#logout>span{
    font-size: 1.2em;
    color:#F6F4F2;
}
.profile{
    width:40px;
    height: 40px;
    background-color:transparent;
    border: none;
    outline: none;
    color: #F6F4F2;
    font-size: 16pt;
    font-weight: 900;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #F6F4F2;
    display: flex;
    justify-content: center;
    align-items:center;
}
#profile:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1.5px #F6F4F2;
}
.info-div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    transition:0.3s;
    padding:5px;
    height: 40px;
}
#info-div:hover{
 color:#F6F4F2;
 box-shadow: 0px 0px 1.5px #F6F4F2;
 border-radius: 6px;
 background: linear-gradient(to left,#233f0c,#074137);
}

/* after profile card is activated the buttom class will be added */

#profile-form{
  display:none;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
}
.profile-form input{
  width:90%;
  padding-left:10px;
  height: 30px;
  margin:5px 0;
  border-radius:6px;
  border:none;
  outline:none;
  box-shadow:0px 0px 1.5px #F6F4F2;
  font-size:1em;
  background-color:#F6F4F2;
  color:#0C7060;
  transition:0.3s;
}
.profile-form input[readOnly]{
cursor:default;
}
.profile-form input:not([readOnly]) {
    background-color: #e3f2fd; 
    border: 2px solid #42a5f5;
    color: #074137; 
    transition: 0.3s ease;
}
.profile-form button{
    width:94%;
    padding-left:10px;
    height: 40px;
    margin:5px 0;
    border-radius:6px;
    border:none;
    outline:none;
    box-shadow:0px 0px 2px #F6F4F2;
    font-size:1.2em;
    margin-top:20px;
    color:#F6F4F2;
    cursor: pointer;
    background:linear-gradient(to left,#0C7060,#427618); ;
    transition:0.3s;
}

.active-prof{
    width:100px;
    height: 100px;
    background-color:transparent;
    border: none;
    outline: none;
    color: #F6F4F2;
    font-size: 34pt;
    font-weight: 900;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #F6F4F2;
    display: flex;
    justify-content: center;
    align-items:center;
}
 .active-prof-div{
    display: flex;
    position:fixed;
    border-radius: 6px;
    top:16px;
    align-items: center;
    justify-content: center;
    transition:0.3s;
    padding:5px;
    height: 85vh;
    max-width:400px;
    flex-direction: column;
    background: linear-gradient(to left,#233f0c,#074137);
 }
 .active-prof-div p{
    color:#F6F4F2;
    font-size: 0.7em;
 }
 .active-prof-div:hover{
    color:#F6F4F2;
    box-shadow: 0px 0px 1.5px #F6F4F2;
    border-radius: 6px;
 }

 @media (min-width:450px){
 .cover-for-large{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 80%);
    z-index: 6;
    display: block;
    transition: opacity 0.5s ease;
 }
}
@media (max-width:450px){
    #profile {
        width:30px;
        height: 30px;
        font-size:1em;
    }
    #bakery-name{
        font-size: 1.2em;
    }
    .side-bar-card>.material-icons{
        display: none;
    }
    aside{
        position: fixed;
        min-width:60%;
        height: 100vh;
        left: -60%; 
        display:none;
        transition: left 0.5s ease; 
    }
    #content-section{
        grid-template-columns: 1fr;
    }
    #side-bar-togle{
        display: block;
        color: #eee;
    }
    #hidder{
     width:100vw;
     height: 100vh;
     z-index:1;
     background-color: rgba(0, 0, 0, 80%);
     position: fixed;
     display: none;
     transition: opacity 0.5s ease;
    }
    aside.show{
        display:block;
        left:0;
    }
    #hidder.show {
        display: block;
        opacity: 1;
    }
 
}